$color-black: #000000;
$color-white: #ffffff;
$color-grey: #dddddd;

$color-bg: #f6f6f6;
$color-bg-sec: #30475e; 
$color-highlight: #f2a365;
$color-primary: #222831;

$color-bgDark: #222831;
$color-primaryDark: #ececec;